.idea
out/
.DS_Store

# Editor-based Rest Client
.idea/httpRequests
### Gradle template
.gradle
/.settings/
/build/
/bin/
/data/
/out/
/temp/
/tmp/
/buildSrc/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

hs_err_pid*

.metadata
*.iml
local.properties

/app/src/*/java/**/classDiagram.png
/app/src/*/java/**/classDiagram.svg
/app/src/*/scenarios/**/*.html
/app/src/*/scenarios/**/*.png
/app/src/*/scenarios/**/*.svg
/app/src/*/scenarios/**/*.txt
/app/src/*/scenarios/**/*.yaml
/app/src/main/java/de/uniks/stp/model/
/*/build/
/*/buildSrc/build/
