.mid-pane {
    -fx-background-color: #23272a;
    -fx-opacity: 0.8;
}

.active-chats {
    -fx-background-color: #2c2f33;
    -fx-background-radius: 10px;
}

.online-users {
    -fx-background-color: #2c2f33;
    -fx-opacity: 0.8;
    -fx-background-radius: 10px;
}

.container {
    -fx-background-color: transparent;
}

.available-users-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

#chatview__submit-button {
    -jfx-button-type: FLAT;
    -fx-background-color: rgb(77, 102, 204);
    -fx-text-fill: white;
}

#chatview__message-input {
    -fx-text-fill: white;
    -fx-background-color: #23272a;
}
#chatview__message-list {
    -fx-text-fill: white;
    -fx-background-color: #2c2f33;
}

#toggle-online-button {
    -jfx-button-type: FLAT;
    -fx-background-color: rgb(77, 102, 204);
    -fx-text-fill: white;
}

#dm-user-list {
    -fx-background-color: #2c2f33;
}
