
.mid-pane {
    -fx-background-color: #23272a;
    -fx-opacity: 0.8;
}

.bottom-pane {
    -fx-background-color: #23272a;
    -fx-opacity: 0.8;
}

.user-settings-pane {
    -fx-background-color: #2c2f33;
    -fx-opacity: 0.8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.nav-bar {
    -fx-background-color: #2c2f33;
    -fx-background-radius: 10px;
}

.nav-bar-vbox {
    -fx-background-color: #2c2f33;
}

.subview-container {
    -fx-background-color: #2c2f33;
    -fx-opacity: 0.8;
    -fx-background-radius: 10px;
}

.window-container {
    -fx-background-color: #23272a;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.nav-bar-element {
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 15px;
}

.nav-element-marker {
    -fx-background-color: #7289da;
}

.nav-bar-element-main {
    -fx-background-color: transparent;
}

.logout-button {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.current-user-label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}
