
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #4059a9;
    -fx-text-fill: white;
}

.text-field
{
    -fx-prompt-text-fill: #4059a9;
    -fx-text-fill: black;
    -fx-highlight-fill: #4eb769;
}

.login-form {
    -fx-background-color: white;
}

#spinner .arc {
     -fx-stroke: #4059a9;
}
