@import "../base";

.modal {
  -fx-background-color: $secondary-background-color;
}

.textfield {
  -fx-text-fill: $primary-text-fill;
  -fx-prompt-text-fill: $button-color;
  -fx-font-size: 14px;
}

.checkbox {
  -fx-text-fill: $primary-text-fill;
  -jfx-checked-color: $button-color;
}

.add-channel-create-button {
  -fx-background-color: $button-color;
  -fx-text-fill: $primary-text-fill;
  -fx-font-size: 14px;
}

.add-channel-cancel-button {
  -fx-background-color: $button-color;
  -fx-text-fill: $primary-text-fill;
  -fx-font-size: 14px;
}

.error {
  -fx-text-fill: $error-text-fill;
}
