@import "../base";

.mid-pane {
  @include main-container-mixin;
}

.active-chats {
  @include secondary-container-mixin;
}

.online-users {
  @include secondary-container-mixin;
}

.available-users-label {
  -fx-font-size: 24px;
  -fx-text-fill: $primary-text-fill;
}

#toggle-online-button {
  -jfx-button-type: FLAT;
  -fx-background-color: $button-color;
  -fx-text-fill: $primary-text-fill;
}

.submit-button {
  -jfx-button-type: FLAT;
  -fx-background-color: $button-color;
  -fx-text-fill: $primary-text-fill;
}

.message-input {
  -fx-text-fill: $primary-text-fill;
  -fx-background-color: $main-background-color;
}
.message-list {
  -fx-text-fill: $primary-text-fill;
  -fx-background-color: $secondary-background-color;
}

