@import "../base";

.audio-output-btn {
  -fx-background-image: url('../../../img/volume.png');
}

.audio-output-btn .mute {
  -fx-background-image: url('../../../img/volume-mute.png');
}

.hang-up-btn {
  -fx-background-image: url('../../../img/hang.png');
}

.audio-input-btn {
  -fx-background-image: url('../../../img/microphone.png');
}

.audio-input-btn .mute {
  -fx-background-image: url('../../../img/microphone-mute.png');
}

.mid-pane {
  -fx-background-color: #23272a;
  -fx-opacity: 0.8;
}
