@import "../base";

.mid-pane {
    @include main-container-mixin;
}

.server-overview {
    @include secondary-container-mixin;
}

.server-chat {
    @include secondary-container-mixin;
}

.server-user-list {
    @include secondary-container-mixin;
}

.server-name-label {
    -fx-font-size: 20px;
    -fx-text-fill: $primary-text-fill;
}

.server-name-container {
    -fx-border-color:transparent transparent $button-color transparent;
    -fx-border-width: 3px;
}

.channel-name-container {
    -fx-border-color:transparent transparent $main-background-color transparent;
    -fx-border-width: 2px;
}

.server-chat-vbox {
    -fx-background-color: $secondary-background-color;
}

.channel-name-label {
    -fx-font-size: 18px;
    -fx-text-fill: $primary-text-fill;
}

.server-user-list-container {
    -fx-background-color: $secondary-background-color;
}

.submit-button {
    -jfx-button-type: FLAT;
    -fx-background-color: $button-color;
    -fx-text-fill: $primary-text-fill;
}

.message-input {
    -fx-text-fill: $primary-text-fill;
    -fx-background-color: $main-background-color;
}
.message-list {
    -fx-text-fill: $primary-text-fill;
    -fx-background-color: $secondary-background-color;
}

.load-old-messages-label {
    -fx-text-fill: $button-color;
}

.load-old-messages-spinner .arc {
    -fx-stroke: $button-color;
}
