@import "../base";

.label-usual {
  -fx-text-fill: $primary-text-fill;
}

.label-audio-settings {
  -fx-text-fill: $primary-text-fill;
  -fx-font-size: 15pt;
}

.combo-select-language {
  -fx-text-fill: $primary-text-fill;
}

.combo-select-language .cell {
  -fx-background-color: $secondary-background-color;
  -fx-text-fill: $primary-text-fill;
}

.combo-box .cell:hover {
  -fx-background-color: $button-color
}

.settings-modal {
  -fx-background-color: $secondary-background-color;
}
