@import "../base";

.integration-button-container {
  -fx-cursor: hand;
}

.integration-button-badge-default {
  -fx-background-color: $button-color;
}

.integration-container {
  -fx-background-color: $main-background-color;
}

.integration-close-image {
  -fx-cursor: hand;
}

.integration-active-label {
  -fx-text-fill: $primary-text-fill;
}
