@import "../base";

.nav-bar-element {
  -fx-background-radius: 20px;
  -fx-background-color: $main-background-color;
  -fx-border-radius: 15px;
}

.nav-bar-element:hover {
  -fx-background-color: $hover-background-color;
}

.nav-element-marker {
  -fx-background-color: $button-color;
}

.nav-bar-vbox {
  -fx-background-color: $secondary-background-color;
}

.nav-bar-element-main {
  -fx-background-color: transparent;
}

.nav-bar-circle {
    -fx-fill: $button-color;
    -fx-stroke: $main-background-color;
}

.nav-bar-label {
    -fx-text-fill: $primary-text-fill;
    -fx-font-size: 14px;
}
