@import "../base";

.submit-button {
  -jfx-button-type: FLAT;
  -fx-background-color: $button-color;
  -fx-text-fill: $primary-text-fill;
}

.emoji-button {
  -jfx-button-type: FLAT;
  -fx-background-color: $main-background-color;
  -fx-text-fill: $primary-text-fill;
}

.message-input {
  -fx-text-fill: $primary-text-fill;
  -fx-background-color: $main-background-color;
}
.message-list {
  -fx-text-fill: $primary-text-fill;
  -fx-background-color: $secondary-background-color;
}
