@import "../base";

.scrollable-list-background {
  -fx-background-color: $secondary-background-color;
}

.channel-list-element {
  -fx-background-color: $secondary-background-color;
}

.category-head-pane:hover {
  -fx-background-color: $hover-background-color;
  -fx-background-radius: 8px;
}

.category-head-label {
  -fx-background-color: transparent;
  -fx-text-fill: $primary-text-fill;
  -fx-font-size: 12px;
}

.category-channel-list {
  -fx-background-color: $secondary-background-color;
}

.channel-container {
  -fx-background-color: $secondary-background-color;
}

.channel-container:hover {
  -fx-background-color: $hover-background-color;
  -fx-background-radius: 8px;
}

.channel-text {
  -fx-background-color: $secondary-background-color;
  -fx-text-fill: $primary-text-fill;
  -fx-fill: $primary-text-fill;
  -fx-font-size: 12px;
}

.channel-text:hover, .channel-container:hover .channel-text {
  -fx-background-color: $hover-background-color;
}

.channel-element-marker {
  -fx-background-color: $button-color;
}
