@import "../base";

.user-name {
  -fx-font-size: 16px;
  -fx-text-fill: $primary-text-fill;
}

.user-list-entry-description-label {
  -fx-text-fill: $primary-text-fill;
}

.user-name-container:hover {
  -fx-background-color: $hover-background-color;
  -fx-background-radius: 8px;
}

.user-name-container:active {
  -fx-background-color: RED;
}
