/* base colors */
$button-color: #4059a9;  //#7289da
$main-background-color: #23272a;
$secondary-background-color: #2c2f33;
$primary-text-fill: white;
$secondary-text-fill: #AAAAAA;
$box-border: white;
$box-fill: #AAAAAA;
$error-text-fill: red;
$success-fill: green;
$hover-background-color: #585858;
$secondary-hover-color: #23272a;

@mixin main-container-mixin {
    -fx-background-color: $main-background-color;
    -fx-opacity: 0.8;
}

@mixin secondary-container-mixin {
    -fx-background-color: $secondary-background-color;
    -fx-background-radius: 10px;
}

.container {
    -fx-background-color: transparent;
}

.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: $button-color;
    -fx-text-fill: $primary-text-fill;
}

.jfx-button:hover {
    -fx-background-color: #5066AD;
}

.jfx-button .jfx-rippler{
    -jfx-rippler-fill: #2B459C;
}

.toggle-button {
    -jfx-toggle-color: $button-color;
    -jfx-toggle-line-color: $button-color;
}

@import "scrollbar";
