.submit-button {
    -jfx-button-type: FLAT;
    -fx-background-color: rgb(77, 102, 204);
    -fx-text-fill: white;
}

.message-input {
    -fx-text-fill: white;
    -fx-background-color: #23272a;
}
.message-list {
    -fx-text-fill: white;
    -fx-background-color: #2c2f33;
}
